.search-table {
    width: 1100px;
    height: 650px;
    background: #2c2c2c;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Darker box shadow for depth */
    display: flex;
    flex-direction: column;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.search input {
    width: 800px;
    height: 50px;
    background: transparent;
    border: unset;
    outline: none;
    border-radius: 10px 0px 0px 10px;
    border-bottom: 1px solid;
    border-right: 1px solid;
    padding-left: 10px;
    color: white;
}

.search input::placeholder {
    font-style: italic;
}

.search button {
    height: 50px;
    width: 100px;
    border-radius: 0px 10px 10px 0px;
    background: #5cba47;
    color: white;
    transition: .5s;
}

.search button:hover {
    opacity: .6;
}

.search-results {
    width: 100%;
    padding: 0px 10px;
    margin-top: 10px;
    overflow-y: scroll;
    height: 90%;
    border-radius: 10px;
}

.search-results::-webkit-scrollbar {
    background: gray;
    border-radius: 10px;
}

.search-results::-webkit-scrollbar-button {
    background: rgb(47, 46, 46);
}

.accordion-body{
    background: gray;
}

.title{
    color:white;
    font-size: 20px;
}

.err404{
    text-align: center;
    margin-top: 100px;
    font-size: 100px;
}